{% load static %}

<!DOCTYPE html>
<html lang="fr">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Profile - {{user_profile.user.username}}</title>
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>
<body>
<div class="theme-layout">
	
	</div>
	
	<section>
			<div class="feature-photo">
				<figure><img src="{% static 'images/resources/baniere_profile.jpg' %}" alt=""></figure>
				<form action="/follow" method="POST">
					{% csrf_token %}
					<div class="add-btn">
					<span style="color: black; font-size: 27px; margin-right: 520px;"><b><u><a href="/">Flux</a></u></b></span>
					{% if user_post_length == 0 %}
					<span style="color: black; font-size: 27px;"><b>Aucun Post</b></span>
					{% elif user_post_length == 1 %}
					<span style="color: black; font-size: 27px;"><b>{{user_post_length}} Post</b></span>
					{% else %}
					<span style="color: black; font-size: 27px;"><b>{{user_post_length}} Posts</b></span>
					{% endif %}

					{% if user_followers == 0 or user_followers == 1 %}
					<span style="color: black; font-size: 27px;"><b>{{user_followers}} follower</b></span>
					{% else %}
					<span style="color: black; font-size: 27px;"><b>{{user_followers}} followers</b></span>
					{% endif %}

					<span style="color: black; font-size: 27px;"><b>{{user_following}} following</b></span>

					<input type="hidden" value="{{request.user.username}}" name="follower" />
					<input type="hidden" value="{{user_object.username}}" name="user" />

					{% if user_object.username == user.username %}
					<a href="/settings" >Réglages du compte</a>
					{% else %}
					<button type="submit" style="background-color: #ffc0cb; border: #ffc0cb;">{{button_text}}</button>
					{% endif %}
					</div>
				</form>


				<div class="container-fluid">
					<div class="row merged">
						<div class="col-lg-2 col-sm-3">
							<div class="user-avatar">
								<figure>
									<img src="{{user_profile.profileimg.url}}" style="height: 250px; width: 100%;" alt="">	
								</figure>
							</div>
						</div>
						<div class="col-lg-10 col-sm-9">
							<div class="timeline-info">
								<ul>
									<li class="admin-name">
									  <h5 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;"><b>{{user_profile.user.username}}</b></h5>				
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- zone supérieure -->
		<section>
			<div class="bio">
				{{user_profile.bio}}
			</div>
		</section>
		
	<section>
		<div class="container m-auto">

			<div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

				<!-- Affichage des posts de l'utilisateur -->
				<div class="space-y-5 flex-shrink-0 lg:w-7/12">

					{% for post, reviews in post_reviews.items %}
					<div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">

						<div class="flex justify-between items-center px-4 py-3">
							<div class="flex flex-1 items-center space-x-4">
								<span>Post de <b><a href="/profile/{{post.user}}">{{post.user}}</a></b> le {{post.created_at|date:"d F Y" }} à {{post.created_at|time:"H:i" }}</span>
							</div>
							
						{% if post.user_id_id ==  request.user.id %}
						<div>
							<a href="#"> <i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 "></i> </a>
							<div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100" uk-drop="mode: hover;pos: top-right">
							  <ul class="space-y-1">
								<li> 
								  <!-- Lien "Modifier" -->
								  <a href="#"  data-post-id="{{ post.id }}" onclick="showEditPostModal(this.getAttribute('data-post-id'))">
									<i class="uil-edit-alt mr-1"></i> Modifier
								</a>
								</li>
								
								<li> 
								  <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md" onclick="confirmPostDelete('{{ post.id }}', '{{ user_profile.user.username }}')">
									<i class="uil-trash-alt mr-1"></i> Supprimer
								  </a> 
								</li>
							  </ul>
							</div>
						</div>
						{% endif %}
						</div>


						<!-- Modal de modification d'un post -->
						<div id="{{ post.id }}" class="bg-white shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 modal-width">
							<form action="{% url 'update_post' post_id=post.id %}" method="POST">
								{% csrf_token %}
								<!-- Champs du formulaire pour la modification du post -->
								<input type="hidden" name="profile" value="{{ user_profile.user.username }}">
								<input type="text" name="title" value="{{ post.title }}" class="text-lg font-bold text-gray-800 mb-4">
								<textarea name="caption" class="text-sm text-gray-500">{{ post.caption }}</textarea>
								<button type="submit" class="button bg-blue-700">Modifier</button>
							</form>
							<button onclick="closeEditPostModal('{{ post.id }}')">Fermer</button>
						</div>

						<div class="py-3 px-4 space-y-3">
							<p>
								<span class="block capitalize font-semibold ">{{post.title}}</span>
							</p>
						</div>

						<div uk-lightbox>
							<a href="{{post.image.url}}">
								<img src="{{post.image.url}}" alt="" class="mx-auto">
							</a>
						</div>
						<div class="py-3 px-4 space-y-3"> 
							<div class="flex items-center justify-between space-x-4 lg:font-bold">
								<div>
									<a href="/like-post?post_id={{post.id}}" class="flex items-center space-x-2">
										<div class="p-2 rounded-full text-black">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
												<path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
											</svg>
											{% if post.no_of_likes == 0 %}
												<p>Aucun like</p>
											{% elif post.no_of_likes == 1 %}
												<p>Aimé par {{post.no_of_likes}} personne</p>
											{% else %}
												<p>Aimé par {{post.no_of_likes}} personnes</p>
											{% endif %}
										</div>
									</a>
								</div>
								{% if not reviews.has_user_reviewed %}
									<a href="#" class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shadow text-white">
										<ion-icon name="add-circle" class="-mb-1 mr-1 opacity-90 text-xl uilus-circle"></ion-icon>
										Créer une critique
									</a>
									<!-- créer une critique à partir d'une demande ; dropdown box -->
									<div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown uk-dropdown-bottom">


										
										<div class="flex justify-center flex-center text-center">
				
											<div class="flex flex-col choose-upload text-center">
												<!-- formulaire pour créer une critique à partir d'une demande -->
												<form action="/add_review" method="POST" enctype="multipart/form-data">
												{% csrf_token %}                                                 
												<div>
													
													
													<div class="px-4 py-3 -mx-5 -mb-4 mt-5 text-sm">
														<div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
															<h2 class="font-semibold text-lg">Informations de la critique</h2>
														</div>
														<input type="text" name="title_review" placeholder="Titre de la critique...">
														<br>
														<input type="hidden" name="profile" value="{{ user_profile.user.username }}">
														<input type="hidden" name="post_to_add_review" value="{{ post.id }}">
														<h2 class="font-semibold text-lg">Note :</h2>
														<div class="flex items-center space-x-4">
															<label class="inline-flex items-center">
															<input type="radio" class="form-radio" name="radio" value="1">
															<span class="ml-2">1</span>
															</label>
															<label class="inline-flex items-center ml-6">
															<input type="radio" class="form-radio" name="radio" value="2">
															<span class="ml-2">2</span>
															</label>
															<label class="inline-flex items-center ml-6">
															<input type="radio" class="form-radio" name="radio" value="3">
															<span class="ml-2">3</span>
															</label>
															<label class="inline-flex items-center ml-6">
																<input type="radio" class="form-radio" name="radio" value="4">
																<span class="ml-2">4</span>
															</label>
															<label class="inline-flex items-center ml-6">
																<input type="radio" class="form-radio" name="radio" value="5">
																<span class="ml-2">5</span>
															</label>
														</div>
														<textarea class="button soft-warning small" name="commentaire" placeholder="Commentaire..."></textarea>
													</div>
													<br>
													<button class="button bg-blue-700" type="submit">Envoyer</button>
												</div>
												</form>
											</div>
										</div>
									</div>
								{% endif %}
							</div>
							
						
							<p>
								{{post.caption}}
							</p>
						</div>
						

						<!-- Affichage des reviews d'un post -->
						{% for review in reviews.reviews %}
						<div class="border-t py-3 px-4 space-y-3">
							<div class="flex items-center justify-between">
								<div class="flex items-center">
									<a href="/profile/{{ review.user.username }}">
										<strong>Critique de {{ review.user.username }} le {{ review.time_created|date:"d F Y" }} à {{ review.time_created|time:"H:i" }}</strong>
									</a>
								</div>
								{% if review.user_id ==  user_profile.user_id %}
								<div>
									<a href="#">
										<i class="icon-feather-more-horizontal text-2xl hover:bg-gray-200 rounded-full p-2 transition -mr-1"></i>
									</a>
									<div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100" uk-drop="mode: hover;pos: top-right">
										<ul class="space-y-1">
											<li>
												<!-- Lien "Modifier" -->
												<a href="#" data-review-id="{{ review.id }}" onclick="showEditReviewModal(this.getAttribute('data-review-id'))">
													<i class="uil-edit-alt mr-1"></i> Modifier
												</a>
											</li>

											<li>
												<a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md" onclick="confirmReviewDelete('{{ review.id }}', '{{ user_profile.user.username }}')">
													<i class="uil-trash-alt mr-1"></i> Supprimer
												</a>
											</li>
										</ul>
									</div>
								</div>
								{% endif %}
							</div>
							<div class="flex items-center space-x-1 ml-2">
								<div>
									<p>{{ review.headline }}</p>
								</div> &nbsp; &nbsp;
								{% for color in review.get_stars %}
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="{{ color }}" class="w-4 h-4">
									<path d="M10 1l2.928 6.426 6.319.918-4.587 4.716 1.085 6.305-5.745-3.179-5.745 3.179 1.085-6.305L.753 8.344l6.319-.918L10 1z" />
								</svg>
								{% endfor %}
							</div>
							<div class="flex">
								<div class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 lg:mr-20 mb-3">
									<p class="leading-6">{{ review.body }} </p>
									<div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 "></div>
								</div>
							</div>
						</div>
						<!-- Modal de modification d'une review -->
						<div id="{{ review.id }}" class="bg-white shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 modal-width">
							<form action="{% url 'update_review' review_id=review.id %}" method="POST">
								{% csrf_token %}
								<!-- Champs du formulaire pour la modification d'une review -->
								<input type="hidden" name="profile" value="{{ user_profile.user.username }}">
								<input type="text" name="headline" value="{{ review.headline }}" class="text-lg font-bold text-gray-800 mb-4">
								<h2 class="font-semibold text-lg">Note :</h2>
									<div class="flex items-center space-x-4">
										{% for i in rating_values %}
										<label class="inline-flex items-center">
											<input type="radio" class="form-radio" name="radio" value="{{ i }}" {% if review.rating == i %}checked{% endif %}>
											<span class="ml-2">{{ i }}</span>
										</label>
										{% endfor %}
									</div>
								<textarea name="body" class="text-sm text-gray-500">{{ review.body }}</textarea>
								<button type="submit" class="button bg-blue-700">Modifier</button>
							</form>
							<button onclick="closeEditReviewModal('{{ review.id }}')">Fermer</button>
						</div>
						{% endfor %}



					</div>
					{% endfor %}


				</div>

				
				{% if user_object.id == request.user.id and user_following > 0  %}
				<!-- affichage de la sidebar des utilisateurs suivis -->
				<div class="lg:w-5/12">

					<div class="bg-white  shadow-md rounded-md overflow-hidden">

						<div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
							<h2 class="font-semibold text-lg">Utilisateurs que vous suivez</h2>
						</div>
					   
						<div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
							{% for following in followings_username_profile_list %}
							<form action="/follow" method="POST">
								{% csrf_token %}
							<div class="flex items-center justify-between py-3">
								<div class="flex flex-1 items-center space-x-4">
									<a href="/profile/{{following.user}}">
										<img src="{{following.profileimg.url}}" class="bg-gray-200 rounded-full w-10 h-10">
									</a>
									<div class="flex flex-col">
										<span class="block capitalize font-semibold"> {{following.user}} </span>
										<span class="block capitalize text-sm"> {{following.bio}} </span>
									</div>
								</div>
								<input type="hidden" value="{{request.user.username}}" name="follower" />
								<input type="hidden" value="{{following.user.username}}" name="user" />
								
								<button type="submit" class="border border-gray-200 font-semibold px-1 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 ">Ne plus suivre</button>
							</div>
							</form>
							{% endfor %}
							
						</div>

					</div>

				</div>
				{% endif %}
			</div>               
	  

		</div>

	</section>

	
    <script src="{% static 'assets/js/uikit.js' %}"></script>
	<script src="{% static 'assets/js/profile.js' %}"></script>
	<footer class="bg-gray-200 text-black p-4 mt-4 border-t-0">
		<div class="lg:mb-5 py-3 uk-link-reset">
			<div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
				<div class="flex space-x-2 text-gray-700 uppercase">
					<a href="#"> À propos</a>
					<a href="#"> Aide</a>
					<a href="#"> Termes</a>
					<a href="#"> Confidentialité</a>
				</div>
				<p class="capitalize"> © copyright 2023 by LITReview</p>
			</div>
		</div>
	</footer>
	
</body>	


</html>