{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="favicon.png" rel="icon" type="image/png">
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/search.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
            <header style="margin-top: -23px;">
                <div class="header_inner">
                    <form action="/search" method="get">
                        {% csrf_token %}    
                        <div class="left-side">
                            <!-- Logo -->
                            <div id="logo" class=" uk-hidden@s">
                                <a href="index.html">
                                    <b><h1 style="text-transform: uppercase;">LITReview</h1></b>
                                </a>
                            </div>
    
                                <input type="text" name="username" placeholder="Rechercher un utilisateur...">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <button type="submit"><i class="fa fa-search fa-1x"></i></button>
                        </div>
                    </form>
                    <div class="right-side lg:pr-4">

                        <!-- profil -->

                        <a href="#">
                            <img src="{{ user_profile.profileimg.url }}" class="header-avatar" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="/settings"> Réglages du compte </a> </li>
                                <li><a href="/logout"> Se déconnecter</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </header>
            
            
            <div style="margin-left: 250px; margin-right: 250px;">
                

                <div class="container">
                <div class="row ng-scope">
                    <div class="col-md-3 col-md-push-9">
                        <h4>Revenir au <span class="fw-semi-bold"><b><a href="/">Flux</a></span></h4>
                        <br>

                    </div>
                    <div class="col-md-9 col-md-pull-3">
                    
                        {% for users in username_profile_list %}
                        <section class="search-result-item">
                            <a class="image-link" href="/profile/{{users.user}}"><img class="image" src="{{users.profileimg.url}}">
                            </a>
                            <div class="search-result-item-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h4 class="search-result-item-heading"><a href="/profile/{{users.user}}"><b>{{users.user}}</b></a></h4>
                                        <p class="info">{{users.location}}</p>
                                        <p class="description">{{users.bio}}</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {% endfor %}
                        
                    </div>
                </div>
                </div>
            </div>

        </div>

    </div>
    
</body>


</html>